.videoContainer {
  width: 100%;
  border: none;
  position: relative;
  overflow: hidden;
}

.videoContainer--video-banner-home{
  border: none;
  margin-bottom: 20px;
}

/* .videoElement{
  height: 200%;
} */

@media only screen and (min-width: 640px) {
  .videoContainer {
    height: 700px;
  }
}
